[Desktop Entry]
Type=Application
Name=Warsaw
TryExec=/usr/bin/warsaw
Exec=/usr/bin/warsaw --delay
StartupNotify=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
