[Unit]
Description=Warsaw Desktop
After=default.target dbus.service

[Service]
Type=forking
ExecStart=/usr/local/bin/warsaw/core
PIDFile=%t/core.pid
Restart=always
RestartSec=5
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=default.target
